@import url(http://fonts.googleapis.com/css?family=EB+Garamond);

html, body {
  height: 100%;
  font-family: 'Times New Roman', Times, serif;
}

.homeTitle {
  font-weight: bold;
  font-style: italic;
}

li {
  list-style-type: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.img-thumbnail {
  max-height: 18rem;
}

.about-text,
.randomItemTitle {
  text-align: left;
}

.randomImage img {
  height: 40vh;
  margin-top: 1em;
}

iframe.resume-frame {
  width: 100%;
  height: 90vh;
}

.videoCards {
  height: auto;
  overflow: auto;
}

.videoCard {
  display: inline-block;
  margin: 1em;
}

.artCards {
  height: auto;
  overflow: auto;
}

.artCard {
  display: inline-block;
  margin: 1em;
}

.nav-Container {
  margin-top: 2em;
  margin-bottom: 3em;
}

.footer {
  padding-top: 1em;
  padding-bottom: 3em;
}

.footer .btn {
  padding: 0px 10px;
}